<body>
  
    <h1>Bill Gates</h1> 
    <img src="..//assets/images/bill_.jpg">
    <h3>Patience is a key element of success.</h3>
      <ol>
        <li> If you think your teacher is tough, wait till you get a boss. </li>
        <li> Life is not fair — get used to it! </li>
        <li> Success is a lousy teacher. It seduces smart people into thinking they can’t lose. </li>
        <li> Be nice to nerds. Chances are you’ll end up working for one . </li>
      </ol>
     
  <div> 
    Bill Gates was born on 28th October, 1955 in Seattle, Washington. His father was a successful attorney
    and mother was a school teacher. He was a middle child with an elder and a younger sister. 
    His parents wanted him to become a lawyer but Bill was interested in computers from the very beginning. 
    Bill studied at a private school where he became good friends with Paul Allen who had similar interests. 
    Later Allen became Bill’s business partner when he developed Microsoft. Paul and Bill were computer 
    geniuses and soon realised the potential for a booming computer industry.While still in high school, Bill, 
    along with Paul, started a firm called Traf-O-Data and earned twenty thousand dollars. Bill Gates was
    responsible for the first computer virus that ruined other programs and data. He was severely punished for 
    that and was kept away from computers for a year, to concentrate on law school. But nothing could keep him 
    and Paul away from pursuing their love for computer software.

  </div>  
  <ul>
    <li><a href="https://blog.angular.io/">https://blog.angular.io/</a></li>
    <li><a href="https://www.gatesfoundation.org/"> https://www.gatesfoundation.org/</a></li>
    <li><a href="https://www.gatesnotes.com/"> https://www.gatesnotes.com/</a></li>
    <li><a href="https://blog.angular.io/">https://blog.angular.io/</a></li>
  </ul>
</body>


   